		body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
			background-color: #EBDFF4;
			transition: background-color 3.0s ease;
        }
		
        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin-right: 20px;
        }
        nav ul li a {
            color: #fff;
            text-decoration: none;
        }
        .title {
            text-align: center;
            padding: 100px 20px;
			background-image: url(https://images.alphacoders.com/127/1270245.jpg);
			background-size: cover;
			background-position: center;
			font-size: 48px;
			text-decoration: underline;
        }
        main {
            flex: 1; 
            padding: 20px;
			text-align: center;

        }
        section {
            margin-bottom: 30px;
			
        }
		h1 {
		color: #ffffff;
		background-color: #333;
		font-size: 30px;
		}
		#loc {
			display: grid;
			align-items: center; 
			grid-template-columns: 1fr 1fr;
			column-gap: 10px;
			font-size: 20px;
			padding: 5px 30px;
			}
		#his {
			font-size: 20px;
			vertical-align: middle
			}
		#palace {
			background-color: lightyellow;
			width: 1120px;
			border: 10px solid blue;
			padding: 20px;
			margin: 20px;
			text-align: center;
			margin: auto;
			}
		#att {
			display: grid;
			align-items: center;
			grid-template-columns: 1fr;
			column-gap: 20px;
			font-size: 26px;
			padding-left: 20px;
			padding-right: 20px;
			}
		.h-box {
            display: flex; 
            align-items: center; 
        }

        .image {
			padding: 20px;
            margin-left: 20px; 
        }
		.text {
			max-width: 400px;
			margin: auto;
            text-align: center;
		}
		ul {list-style-type: square;}
		#hot {
			display: grid; 
			grid-template-columns: 1fr 1fr;
			column-gap: 130px;
			font-size: 20px;
			padding: 0px 120px;
			}
		table {
			width: 100%;
			}
		table, th, td {
			border: 1px solid white;
			border-collapse: collapse;
			}
		th, td {
			background-color: #89CEF3;
			opacity: 0.7;
			}
		#scrollToTopBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #B353FA;
            color: #fff;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
            border-radius: 5px;
        }
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            width: 100%;
        }
